/*Nút ẩn hiện menu*/
div#toggle{
    background-color: #218c74;
    color: #fff;
    font-size: 30px;
    padding: 15px 0;
    display: none;
}

#toggle {
    text-align: center;
    width: 20%;
}

/*TABLET*/
@media screen and (max-width: 768px) {
    /*MENU*/
    .flex {
        flex-direction: column;
    }

    div#toggle{
        display: block;
    }
    
    nav.flex {
        align-items: flex-start;
        margin-top: 0;
    }

    div.navbars {
        flex-direction: column;
        display: none;
        transition: display ease 5s;
    }

    div.navbars.show {
        display: block;
    }

    #left {
        align-items: flex-start;
        width: 100%;
        
    }

    .subcontent {
        top: 0;
        left: 200px;
    }

    #right {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    /*giới thiệu*/
    h1 ~ div {
        width: 100%;
    }
    /*Post and Support*/
    .services {
        flex-wrap: wrap;
    }

    .services div.service {
        width: 45%;
        margin-top: 5%;
    }

    section.main {
        flex-wrap: wrap;
        margin-top: 10px;
        height: 1000px;
    }

    div.posts {
        width: 100%;
        height: 50%;
    }

    div.article div.img {
        width: 100%;
        float: none;
    }

    div.support {
        height: 50%;
        width: 50%;
    }

    div.input-support {
        height: 70%;
        top: 15%;
    }

    div.article p {
        -webkit-line-clamp: 4;
    }

    section.container {
        flex-direction: column;
    }

    div.menu-ser {
        width: 100%;
    }

    div.contents-ser {
        width: 100%;
    }

    div.content-ser {
        flex-direction: column;
    }

    div.content-ser div.ser {
        width: 80%;
    }

    div.form {
        width: 100%;
        border: none;
    }

    div.form input {
        padding: 5px;
    }

    #btn-ser {
        height: 10%;
    }
}

/*MOBILE*/
@media  screen and (max-width:435px) {
    
   div#toggle {
    padding: 15px;
   }

    .carousel {
        width: 100%;
    }

    div.article p {
        -webkit-line-clamp: 10;
    }

    div.support {
        width: 70%;
    }

    /*FOOTER*/
    footer {
        max-height: 1100px;
    }

    footer > div {
        flex-direction: column;
    }

    footer > div div {
        padding: 15px;
    } 
    /*DỊCH VỤ*/
    section.container {
        flex-direction: column;
    }

    div.menu-ser {
        width: 100%;
    }

    div.contents-ser {
        width: 100%;
    }

    div.content-ser {
        flex-direction: column;
    }

    div.content-ser div.ser {
        width: 80%;
    }

    div.form {
        width: 100%;
        border: none;
    }

    div.form input {
        padding: 5px;
    }

    #btn-ser {
        height: 15%;
    }
}

@media  screen and (max-width:476px) {
    header > h1 {
        font-size: 25px;
    }

    .subcontent {
        top: 0;
        left: 150px;
    }
}