* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header > h1 {
    color: #D4AF37;
    text-shadow: 2px 3px #E1C055;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.flex {
    background-color: #218c74;
    margin: 5px 0;
}

div.navbars {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
}

ul.menu > li > a:hover {
    color: #ffda79;
    background-color: #218c74;
}

ul.menu > li > a:hover > i {
    color: #ffda79;
}

ul.menu > li > input {
    border-radius: 10px;
    height: 35px;
    width: 200px;
}

.sub {
    position: relative;
}

.subcontent {
    display: none;
    position: absolute;
    background-color: white;
}

.subcontent {
    width: max-content;
}

.subcontent::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent #33d9b2 transparent ;
    left: 20%;
    bottom: 100%;
}

.sub:hover .subcontent {
    display: block;
    background-color: #33d9b2;
    z-index: 1;
}

section.banner {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 1300px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1.title {
    font-weight: bold ;
    text-align: center;
}

h1 ~ div {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

/*CSS by Quốc Bảo*/
nav.ser {
    text-align: center;
    width: 100%;
}

div.services {
    display: flex;
    justify-content: space-around;
    margin:0;
    width:100%
}

div.service {
    width: 20%;
    text-align: center;
    position: relative; 
}

div.service:hover {
    transform: scale(1.1,1.1);
    transition-duration: 1s;
}

div.service img {
    width: 100%;
    border-radius: 10px;
}

div.service:hover a {
    display: block;
}

div.name > a {
    text-decoration: none;
    background-color: #218c74;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    display: none;
}

/*CSS SECTION*/
section.main {
    display: flex;
    margin-top: 50px;
    height: fit-content;
}
/*NEWS*/
div.news {
    width: 70%;
}

div.title {
    background-color: #218c74;
    padding: 10px;
    width: fit-content;
    border-radius: 25% 25% 0 0;
}

div.title h3 {
    margin: 0;
}

div.main-new {
    border-top: 2px solid #218c74;
}

div.main-new > h3 {
    text-align: center;
}

div.main-new > div:nth-child(2) {
    width: 40%;
    margin: auto;
    padding: 1%;
    margin-bottom: 2%;
} 

div.main-new img {
    width: 100%;
}

div.main-new > div.date {
    padding: 2%;
}

div.new-current {
    display: flex;
    border-top: 2px solid #218c74;
}

div.new {
    margin: 2%;
    text-align: justify;
}

div.new-image {
    width: 70%;
    margin: auto;
}

div.new img {
    width: 100%;
}

div.new > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

div.new > a:hover {
    color: #D4AF37;
}

div.new > div.date {
    padding: 5%;
}

/*SUPPORT*/
div.support {
    width: 30%;
    position: relative;
}

div.input-support {
    border: 2px solid black;
    position: absolute;
    width: 60%;
    height: fit-content;
    top: 30%;
    left: 20%;
    background: linear-gradient(#33d9b2,#344E41);
}

div.input-support h3 {
    text-align: center;
}

div.input {
    margin: 5%;
}

div.input > input {
    width: 100%;
    padding: 5px;
}

#submit {
   margin-left: 30%;
   background-color: #D4AF37;
   border: none;
   border-radius: 25%;
   padding: 5px;
   font-weight: bold;
}

/*CSS FOOTER*/
footer {
    background-color: #344E41;
    color: #fff;
    max-height: 200px;
    margin-top: 5px;
    border-top: 2px solid gray;
}

footer > div {
    display: flex;
    justify-content: space-around;
}

footer img {
    padding: 10px;
}

div.conect a {
    font-size: 30px;
    padding: 10px;
}

.fb {
    color: blue;
}

.ytb {
    color: red;
}

footer > h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    border-top: 1px solid white;
}

/*CSS go to top*/
div#gototop {
    position: fixed;
    background-color: #12CBC4;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 9999;
}

div#gototop a {
    display: block;
    padding: 20px 20px;
    color: white;
}