div.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.project {
    width: 25%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
}

.tit {
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s;
}

.project img:hover {
    transform: scale(1.1);
}

div.info {
    background-color: #218c74;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

div.info h4 {
    margin: 0;
    padding: 5px;
    color: white;
}

div.info button {
    border-radius: 20px;
    margin: 4px;
    padding: 5px;
}

div.info a {
    text-decoration: none;
    color: black;
}

div.info button:hover {
    background-color: aquamarine;
}

.info .price {
    background-color: rgba(215, 251, 34, 0.6);
    color: white;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    border-radius: 10px 0;
    animation: doimau 1s 3;
}

@keyframes doimau {
    from {
        background-color: rgba(215, 251, 34, 0.6);
    }
    to {
        background-color: rgb(168, 32, 32, 0.6);
    }
}

div.banks {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}

div.bank {
    margin: 1rem;
}

div.bank a img {
    width: 150px;
    height: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
}
