* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header > h1 {
    color: #D4AF37;
    text-shadow: 2px 3px #E1C055;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.flex {
    background-color: #3A5A40;
    margin: 10px 0;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
}

ul.menu > li > a:hover {
    color: #ffb57e;
}

ul.menu > li > a:hover > i {
    color: #ffb57e;
}

ul.menu > li > input {
    border-radius: 10px;
    background-color: white;
    color: black;
}

.sub {
    position: relative;
}

.subcontent {
    display: none;
    position: absolute;
    background-color: white;
}

.sub:hover .subcontent {
    display: block;
    background-color: #3A5A40;
    z-index: 1;
}

section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #00352d; */
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 1300px;
    overflow: hidden;
    border-radius: 10px;
    
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1.title {
    font-weight: bold ;
    text-align: center;
}

h1 ~ div {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

/*CSS by Quốc Bảo*/
nav.ser {
    text-align: center;
    width: 100%;
}

div.services {
    display: flex;
    justify-content: space-around;
    margin:0;
    width:100%
}

div.service {
    width: 20%;
    text-align: center;
    position: relative;
    
}

div.service img {
    width: 100%;
    border-radius: 5%;
}

div.service:hover a {
    display: block;
}

div.name > a {
    text-decoration: none;
    background-color: #588157;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: none;
}

/*CSS SECTION*/
section.main {
    display: flex;
    margin-top: 50px;
    height: 460px;
}

div.posts {
    display: flex;
    width: 70%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 3px;
}


div.newpost {
    width: 60%;
    height: 100%;
    position: relative;
    border-right: 2px solid lightgray;
}

.titles {
    padding: 10px;
    background-color: #DAD7CD;
}

div.titles > h3 {
    margin: 0;
}

div.article {
    height: 80%;
    padding: 5px;
}

div.article > div {
    width: 50%;
    float: left;
    margin: 5px;
    
}

div.article > div > img {
    width: 100%;
}

div.article p {
    overflow: hidden;
    -webkit-line-clamp: 18;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

div.newpost > div.day {
    position: absolute;
    width: 100%;
    bottom: 0;
}

div.post {
    width: 40%;
    height: 100%;
}

div.post  p {
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
    height: 70%;
    border-top: 1px solid lightgray;
}

div.post > div.day {
    height: 10%;
}

div.post > div {
    height: 33.33%;
}

div.post  a {
    height: 10%;
    
}

.more {
    text-decoration: none;
    color:darkblue; 
}

.day {  
    padding: 5px;
    font-style: italic;
}

div.support {
    width: 29%;
    margin-left: 1%;
    text-align: center;
    position: relative;
    height: 100%;
}

div.input-support {
    border: 2px solid;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 20%;

}

div.input-support .titles {
    height: 20%;
}

div.input {
    margin-top: 1%;
    height: 19%;
}

div.input > input {
    width: 90%;
    height: 65%;
    border-radius: 10px;
}

button#sp {
    width: 50%;
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(blue, lightblue);
}


/*CSS FOOTER*/
footer {
    background-color: #344E41;
    color: white;
    height: 200px;
    margin-top: 5px;
    border-top: 2px solid gray;
}

footer > div {
    display: flex;
}

footer > h2 {
    text-align: center;
    margin: 0;
    padding: 30px;
    border-top: 1px solid white;
}

/*CSS go to top*/
div#gototop {
    position: fixed;
    background-color: #588157;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 9999;
}

div#gototop a {
    display: block;
    padding: 20px 20px;
    color: white;
}


@media screen and (max-width: 440px) {
    .flex {
        flex-direction: column;

    }

    nav.flex {
        align-items: flex-start;
    }

    #left {
        align-items: flex-start;
        width: 100%;
    }

    #left li {
        border-bottom: 1px solid white;
        width: 100%;
    }

    #right {
        flex-direction: row;
        width: 100%;
    }


    /*RESPONSIVE PHẦN MAIN*/
    h1 ~ div {
        width: 100%;
    }

    .services {
        flex-wrap: wrap;
    }

    .services div.service {
        width: 45%;
        margin-top: 5%;
    }

    section.main {
        flex-wrap: wrap;
        margin-top: 10px;
        height: 1000px;
    }

    div.posts {
        width: 100%;
        height: 50%;
    }

    div.article div.img {
        width: 100%;
        float: none;
    }

    div.support {
        height: 50%;
        width: 70%;
    }

    div.input-support {
        height: 70%;
        top: 15%;
    }

    div.article p {
        -webkit-line-clamp: 10;
    }
    
}